body {
    text-align: center;
    font-family: sans-serif;
  }
  
  .color p {
    font-size: 15px;
    text-align: center;
    margin: 37px 0;
    padding: 0;
  }

  .font p {
    font-size: 15px;
    text-align: center;
    display: inline-block;
    margin: 0;
    position: relative;
    left: 50px;
    width: auto;
  }
  
  header {
    display: block;
    width: 100%;
    text-align: left
  }

  h2 {
    text-decoration: underline;
  }

  h3 {
    font-size: 25px;
    text-decoration: underline;
    width: auto;
    position: relative;
    left: 50px;
    display: block;
  }

  .font {
    text-align: left;
    width: 500px;
    display: inline-block;
    margin: 20px;
  }

  .bold {
    font-weight: 700;
  }

  .italic {
    font-style: italic;
  }

  .limelight {
    font-family: 'Limelight', cursive;
  }

  .merriweather {
    font-family: 'Merriweather', serif;
  }

  .zilla-slab {
    font-family: 'Zilla Slab', serif;
  }
  
  .color {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 4px 2px;
    text-align: center;
  }
  
  .dark {
    color: transparent;
  }
  
  .dark:hover {
    color: white;
  }
  
  .light {
    color: transparent;
  }
  
  .light:hover {
    color: black;
  }
  
  .section {
    max-height: 400px;
    max-width: 1300px;
    margin: 20px auto;
    border: 3px solid grey;
    overflow: scroll;
  }
  
  #black {
    background-color: black;
  }
  
  #navy {
    background-color: navy;
  }
  
  #darkblue {
    background-color: darkblue;
  }
  
  #medblue {
    background-color: mediumblue;
  }
  
  #blue {
    background-color: blue;
  }
  
  #darkgreen {
    background-color: darkgreen;
  }
  
  #green {
    background-color: green;
  }
  
  #teal {
    background-color: teal;
  }
  
  #darkcyan {
    background-color: darkcyan;
  }
  
  #deepskyblue {
    background-color: deepskyblue;
  }
  
  #darkturquoise {
    background-color: darkturquoise;
  }
  
  #mediumspringgreen {
    background-color: mediumspringgreen;
  }

  #lime {
    background-color: lime;
  }
  
  #springgreen {
    background-color: springgreen;
  }
  
  #aqua {
    background-color: aqua;
  }
  
  #cyan {
    background-color: cyan;
  }
  
  #midnightblue {
    background-color: midnightblue;
  }
  
  #dodgerblue {
    background-color: dodgerblue;
  }
  
  #lightseagreen {
    background-color: lightseagreen;
  }
  
  #forestgreen {
    background-color: forestgreen;
  }
  
  #seagreen {
    background-color: seagreen;
  }
  
  #darkslategray {
    background-color: darkslategray;
  }
  
  #darkslategrey {
    background-color: darkslategrey;
  }
  
  #limegreen {
    background-color: limegreen;
  }